@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    <h4 class="">Dang Quang</h4>
    Warschauer Str.<br />
    99427 Weimar, Thüringen, Deutschland<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:quang.hafenstadt@gmail.com">quang.hafenstadt@gmail.com</a><br />
</address>